/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f5f5f5; /* #fff3e6; #ffb7c5; */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #492600;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #D2B48C;
}

.sidenav span.date {
    font-size: 12px;
}
.sidenav a.sidenav-link {
    font-size: 12px;
}

.sidenav div.footer {
    font-size: 12px;
}

.sidenav #navToggle {
    display: none;
    margin: auto;
    width: 100%;
    text-align: center;
}

.sidenav #sidebarContent {
    display: block;
}

/* Simple Responsiveness */
@media screen and (max-width: 800px) {
    .sidenav #navToggle {
        display: block;
    }
    .sidenav #sidebarContent {
        display: none;
    }
    .sidenav {
        position: static;
        width: 100%;
    }
    #main {
        margin-left: 8px;
        margin-right: 8px;
    }
    #footer {
        margin-left: 8px;
        margin-right: 8px;
    }
    body {
        margin: 0px;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
