{{ define "main" }}
<div class="single">
    <h1><span class="single-title">{{ .Title }}</span></h1>
    {{ printf "%#v" .Params }}
    {{ with .Params.authorname }}
        {{ printf "%#v" .Params.authorname }}
        <h2 class="single-author">{{ .Params.authroname }}</h2>
    {{ end }}
    
    {{ if (gt .Params.date 0) }}
        <h2 class="single-date">{{ .Date.Format "2006/01/02" }}</h2>
    {{ end }}
</div>

<main>
{{ .Content}}
</main>

<h2>Params</h2>

{{ printf "%#v" .Params }}
{{ end }}
