<div id="footer">
    <div class="links">
        <ul>
            <li><a href="https://github.com/{{ .Site.Params.GithubUsername }}/">Github</a></li>
            <li><a href="https://www.linkedin.com/in/{{ .Site.Params.LinkedInUsername }}/">LinkedIn</a></li>
            <li><a href="https://twitter.com/{{ .Site.Params.TwitterUsername }}/">Twitter</a></li>
        </ul>
        <p>
        &copy; 2018 {{ .Site.Params.AuthorName }}
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution">Some rights reserved</a>;
        Please attribute properly and link back.
        </p>
    </div>
</div>
