<div id="header">
    <div class="links">
        <ul>
            <li><a href="/">{{ .Site.Params.SiteName }}</a></li>
            {{ range (where $.Site.RegularPages "Section" "==" "static") }}
            <li>
                <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ range (where $.Site.Sections "Section" "==" "post") }}
            <li>
                <a href="{{ .URL }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
