{{ $pages := where $.Site.RegularPages "Section" "==" "writing" }}
{{ if gt (len $pages) 0 }}
<div id="newwriting">
    {{ range (where $.Site.Sections "Section" "==" "writing") }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    <ul>
        {{ range $pages }}
        <li>
            <span class="date">{{ .Date.Format "2006/01/02" }}</span>
            <a class="sidenav-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
