<div id="sidebar" class="sidenav">
    <a href="/" id="link-title">{{ .Site.Params.SiteName }}</a>
        {{ $allowed := true }}
        {{ range $element := $.Site.Sections }}
            {{ range $hidden := $.Site.Params.HiddenSections }}
                {{ if (eq $element.Section $hidden) }}
                    {{ $allowed = false }}
                {{ end }}
            {{ end }}
            {{ if $allowed }}
            <a href="{{ .URL }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
    {{ partial "newPosts.html" . }}
</div>
