<div id="sidebar" class="sidenav">
    <a href="/" id="link-title">{{ .Site.Params.SiteName }}</a>
    <a href="javascript:void(0)" class="navToggle" onclick="toggleNav()" id="navToggle">&or;</a>
    <div id="sidebarContent">
        {{ $allowed := true }}
        {{ range $element := $.Site.Sections }}
            {{ range $hidden := $.Site.Params.HiddenSections }}
                {{ if (eq $element.Section $hidden) }}
                    {{ $allowed = false }}
                {{ end }}
            {{ end }}
            {{ if $allowed }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
        {{ partial "newPosts.html" . }}
        {{ range $element := where $.Site.RegularPages "Section" "==" "" }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}


    </div>
</div>

